@Height68:48px;
.v-search{
    .v-search-center{
        height: @Height68;
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        line-height: @Height68;
        align-items: center;
    }
    .el-input__inner{
        height: @Height68!important;
    }
    .el-button{
        height: @Height68;
        background:rgba(113,201,192,1);
        color: white;
        width: 155px;
    }
    .el-button{
        span{
            font-size: 17px;
        }
    }
    .searchInp{
        width: 660px;

        .el-input-group__append{
            background:rgba(113,201,192,1);
            color: white;
            width: 65px;
            cursor: pointer!important; 
            font-size: 18px;
        }
        .el-input__inner{
            font-size: 17px;
        }
    }
    .searchLogo{
        height: 40px;
        margin-left: 10px;
    }
}